<table class="table table-bordered">
  <tr>
    <th class="span1"></th>
      <%- @day_offsets.each do |day_offset| %>
      <th class="span1"><%= (@beginning_of_week + day_offset.days).strftime('%a %m/%e') %></th>
      <% end %>  
  </tr>
<%- @time_offsets.each do |time_offset| -%>
  <tbody>
    <tr>
      <td class="span1"><%= (@beginning_of_week + time_offset.hours).strftime('%l:%M %p') %></td>
      <%- @day_offsets.each do |day_offset| %>
      <td class="span1">
        <%- Event.for_day_and_time_offsets_from(@beginning_of_week, day_offset, time_offset).each do |event| %>
          <%= event.street_address %><br>
        <%- end -%>
     </td>
  <%- end -%>
  </tr>
  </tbody>
<%- end -%>
</table>



<h1>Listing events</h1>

<table>
  <tr>
    <th>User</th>
    <th>Starts at</th>
    <th>Ends at</th>
    <th>Street address</th>
    <th>City</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.user_id %></td>
    <td><%= event.starts_at %></td>
    <td><%= event.ends_at %></td>
    <td><%= event.street_address %></td>
    <td><%= event.city %></td>
    <td><%= event.state %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
