<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">Easy Meetings</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li<%= active_page(root_path) %>><%= link_to "Home", root_path %></li>
          <li<%= active_page(about_path) %>><%= link_to "About", about_path %></li>
          <li<%= active_page(new_user_path) %>><%= link_to "Sign up", new_user_path %></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>